.el-transition {
  display: block;
  font-family: var(--el-font-sans);
}

.el-transition__inner {
  transition-property: opacity, transform, max-height;
  transition-timing-function: var(--el-ease-in-out);
}

// Fade
.el-transition--fade.el-transition--show .el-transition__inner {
  opacity: 1;
}

.el-transition--fade.el-transition--hide .el-transition__inner {
  opacity: 0;
}

// Slide
.el-transition--slide.el-transition--show .el-transition__inner {
  opacity: 1;
  transform: translateY(0);
}

.el-transition--slide.el-transition--hide .el-transition__inner {
  opacity: 0;
  transform: translateY(-1rem);
}

// Scale
.el-transition--scale.el-transition--show .el-transition__inner {
  opacity: 1;
  transform: scale(1);
}

.el-transition--scale.el-transition--hide .el-transition__inner {
  opacity: 0;
  transform: scale(0.95);
}

// Collapse
.el-transition--collapse.el-transition--show .el-transition__inner {
  max-height: 100vh;
  opacity: 1;
}

.el-transition--collapse.el-transition--hide .el-transition__inner {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
