:host {
  display: inline-block;
}

.elx-button {
  font-family: var(--elx-font-family);
  font-size: var(--elx-font-size);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;

  &.primary {
    background-color: var(--elx-color-primary);
    color: #fff;
  }

  &.secondary {
    background-color: var(--elx-color-secondary);
    color: #fff;
  }

  &.small {
    padding: 4px 8px;
  }

  &.medium {
    padding: 8px 16px;
  }

  &.large {
    padding: 12px 24px;
  }

  &.radius-small {
    border-radius: var(--elx-radius-small);
  }

  &.radius-medium {
    border-radius: var(--elx-radius-medium);
  }

  &.radius-large {
    border-radius: var(--elx-radius-large);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none; // Ensures no events pass through
  }

  &:hover:not(.disabled) {
    opacity: 0.9;
  }
}
