.el-form {
  display: block;
  font-family: var(--el-font-sans);
}

.el-form__inner {
  display: flex;
  flex-direction: column;
  gap: var(--el-space-4);
}

.el-form--horizontal .el-form__inner {
  flex-direction: row;
  align-items: flex-start;
}
