@use '../../../styles/base' as base;
@use 'sass:color'; // Import color functions

/* Styling for the UI button */
.ui-button {
	border: none;
	border-radius: base.$border-radius;
	transition: all base.$transition-speed ease-in-out;
	cursor: pointer;
	font-family: base.$font-family;
	background-color: base.$background-color;
	color: base.$text-color;

	&.small {
		padding: base.$spacing-unit base.$spacing-unit * 2;
		font-size: 0.875rem;
	}

	&.medium {
		padding: base.$spacing-unit base.$spacing-unit * 2.5;
		font-size: 1rem;
	}

	&.large {
		padding: base.$spacing-unit * 1.5 base.$spacing-unit * 3;
		font-size: 1.125rem;
	}

	&.primary {
		background-color: base.$primary-color;
		color: white;

		&:hover {
			background: color.adjust(base.$primary-color, $lightness: -10%);
		}
	}

	&.secondary {
		background-color: base.$secondary-color;
		color: white;

		&:hover {
			background: color.adjust(base.$secondary-color, $lightness: -10%);
		}
	}

	&.accent {
		background-color: base.$accent-color;
		color: white;

		&:hover {
			background: color.adjust(base.$accent-color, $lightness: -10%);
		}
	}

	&.danger {
		background-color: base.$danger-color;
		color: white;

		&:hover {
			background: color.adjust(base.$danger-color, $lightness: -10%);
		}
	}

	&.disabled {
		background-color: #d1d5db;
		color: #9ca3af;
		cursor: not-allowed;

		&:hover {
			background: color.adjust(#d1d5db, $lightness: 0%);
		}
	}
}
