.el-grid {
  display: block;
  font-family: var(--el-font-sans);
}

.el-grid__inner {
  display: grid;
}

.el-grid--responsive .el-grid__inner {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
}
